@import "./variables.css";

html{
    scroll-behavior:smooth;
    scroll-padding-top:90px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:var(--background);
    color:var(--text-primary);
    line-height:1.6;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

button{
    border:none;
    outline:none;
    cursor:pointer;
    font-family:inherit;
}

.container{
    width:min(90%,1200px);
    margin:auto;
}

.section{
    padding:90px 0;
}

.section-tag{
    display:inline-block;
    padding:8px 18px;
    background:#F5E8E3;
    color:var(--primary);
    border-radius:50px;
    font-size:.9rem;
    font-weight:600;
    margin-bottom:20px;
}

.section-heading{
    font-size:2.7rem;
    font-family:"Poppins",sans-serif;
    color:var(--secondary);
    margin-bottom:20px;
}

.section-description{
    max-width:700px;
    color:var(--text-secondary);
    font-size:1.05rem;
    margin-bottom:50px;
}

input,
textarea{
    outline:none;
    border:none;
    box-shadow:none;
    font-family:inherit;
}

input:focus,
textarea:focus{
    outline:none !important;
    box-shadow:none !important;
}
