/* ==========================================
   STATS
========================================== */

.stats{
    background:linear-gradient(135deg,var(--primary),var(--primary-dark));
    color:#fff;
    padding: 5px 0 5px;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    align-items:center;
}

.stat-card{
    text-align:center;
    padding:20px;
}

.stat-card h2{
    font-size:3rem;
    font-family:"Poppins",sans-serif;
    font-weight:700;
    color:#fff;
    line-height:1.1;
    margin-bottom:12px;
}

.stat-card p{
    font-size:1.1rem;
    color:rgba(255,255,255,.9);
    font-weight:400;
    line-height:1.5;
}

/* ==========================
   Tablet
========================== */

@media(max-width:992px){

    .stats{
        padding:70px 0;
    }

    .stats-grid{
        grid-template-columns:repeat(2,1fr);
        gap:40px;
    }

    .stat-card h2{
        font-size:2.7rem;
    }

}

/* ==========================
   Mobile
========================== */

@media(max-width:768px){

    .stats{
        padding:60px 0;
    }

    .stats-grid{
        grid-template-columns:1fr;
        gap:35px;
    }

    .stat-card{
        padding:10px;
    }

    .stat-card h2{
        font-size:2.5rem;
    }

    .stat-card p{
        font-size:1rem;
    }

}

/* ==========================
   Small Mobile
========================== */

@media(max-width:480px){

    .stat-card h2{
        font-size:2.2rem;
    }

}
